/*---------------------------------------sliders----------------------------*/
.slider {
  overflow: hidden;
  position: relative;
  padding-bottom: 64px;
  margin-bottom: 60px;
  @include mobile-650 {
    margin-bottom: 30px;
    padding-bottom: 40px;
  }
  .message:last-child {
    margin: 0;
  }
  .info__title--mod {
    @include fluid-text(8, 18);
  }
  .message {
    cursor: pointer;
  }
}
/*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
.reviews-slider .swiper-wrapper {
  display: flex;
  align-items: stretch;
}
.reviews-slider .swiper-slide {
  height: auto;
  transition: all 0.5s ease;
}
/*---------------------------------------параметры чтобы слайды имели одинаковую высоту----------------------------*/
.slider-arrows {
  position: absolute;
  width: 100px;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
    @include mobile-650 {
      width: 90px;
      bottom: 15px;
    }
}
.swiper-button-next,
.swiper-button-prev {
  top: 98%;
}
.swiper-button-next {
  right: 16px;
}
.swiper-button-prev {
  left: 16px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px !important;
  color: var(--color-dark);
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 50%;
  background-color: var(--color-yellow);
  @include mobile-650 {
     padding: 6px 8px;
     font-size: 8px !important;
  }
}
.slider .swiper-pagination,
.slider-payments .swiper-pagination  {
  background-color: #383838;
  border-radius: 20px;
  height: 14px;
  display: flex;
  align-items: center;
  gap: 6px; 
  @include mobile {
    height: 8px;
  }
}
.slider .swiper-scrollbar,
.slider-payments .swiper-scrollbar {
  background-color: #383838;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  height: 16px !important;
  padding: 0px 3px;
  overflow: hidden;
  @include mobile {
    height: 8px !important;
  }
}
.slider .swiper-scrollbar-drag,
.slider-payments .swiper-scrollbar-drag {
  background: linear-gradient(63deg, #b38d2a 0%, #f7ef8a 31%, #d0aa45 62%, #e8c662 100%);
  border-radius: 20px;
  height: 10px;
  margin-top: 3px;
    @include mobile {
      height: 4px;
      margin-top: 2px;
  }
}
.slider-mini {
  overflow: hidden;
  position: relative;
  padding-bottom: 50px;
  .swiper-slide {
    cursor: pointer;
  }
  img {
    width: 100%;
    height: auto;
  }
  @include mobile {
    padding-bottom: 40px;
  }
}
.slider-payments {
  position: relative;
  overflow: hidden;
  padding-bottom: 50px;
  padding-right: 100px;
  .swiper-wrapper {
    margin-right: -100px;
  }
  @include tablet {
    margin-right: -15px;
    padding-left: 80px;
      .swiper-wrapper {
        margin-left: -80px;
      }
  }
  @include mobile {
    padding-right: 50px;
      .swiper-wrapper {
        margin-right: -50px;
      }
  }
  @include mobile-650 {
      padding-right: 0px;
      .swiper-wrapper {
        margin-right: 0px;
      }
  }
  .button-filled {
    @include mobile-650 {
       font-size: 8px;
    }
  }
}
.reviews-slider {
  overflow: hidden;
  margin-right: -220px;
  .swiper-wrapper {
    margin-right: -220px;
  }
  .feedback {
    cursor: pointer;
  }
}
/*---------------------------------------sliders----------------------------*/